<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul class="navigate">
                <li class="navigate"><a href="/">Home&nbsp;&nbsp;</a>|</li>
                <li class="navigate"><a href="/blog">All Posts&nbsp;&nbsp;</a>|</li>
                <li class="navigate"><a href="/blog/newpost">New Post&nbsp;&nbsp;</a>|</li>
                <li class="navigate"><a href="/login">Log In&nbsp;&nbsp;</a>|</li>
                <li class="navigate"><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
